{
  "openapi": "3.1.0",
  "info": {
    "title": "Photon API",
    "version": "1.0.0"
  },
  "servers": [
    {
      "url": "https://api.photon.codes"
    }
  ],
  "security": [
    {
      "projectApiKey": []
    }
  ],
  "paths": {
    "/v1/widgets": {
      "get": {
        "operationId": "listWidgets",
        "summary": "List widgets",
        "description": "Lists widgets.",
        "parameters": [
          {
            "name": "order",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "asc",
                "desc"
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "One page of widgets.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "items": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/Photon20260701_Widget"
                      }
                    },
                    "nextPageToken": {
                      "type": [
                        "string",
                        "null"
                      ]
                    }
                  },
                  "required": [
                    "items",
                    "nextPageToken"
                  ],
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "Unauthenticated.",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/PhotonProblem_NOT_AUTHENTICATED_401"
                }
              }
            }
          }
        }
      },
      "post": {
        "operationId": "createWidget",
        "summary": "Create a widget",
        "description": "Creates a widget.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "name": {
                    "type": "string"
                  },
                  "metadata": {
                    "$ref": "#/components/schemas/__schema0"
                  }
                },
                "required": [
                  "name"
                ],
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "The created widget.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Photon20260701_Widget"
                }
              }
            }
          },
          "409": {
            "description": "Conflict.",
            "content": {
              "application/problem+json": {
                "schema": {
                  "oneOf": [
                    {
                      "type": "object",
                      "properties": {
                        "type": {
                          "type": "string"
                        },
                        "title": {
                          "type": "string"
                        },
                        "status": {
                          "type": "integer",
                          "const": 409
                        },
                        "code": {
                          "type": "string",
                          "const": "WIDGET_EXISTS"
                        }
                      },
                      "required": [
                        "type",
                        "title",
                        "status",
                        "code"
                      ],
                      "additionalProperties": false
                    },
                    {
                      "type": "object",
                      "properties": {
                        "type": {
                          "type": "string"
                        },
                        "title": {
                          "type": "string"
                        },
                        "status": {
                          "type": "integer",
                          "const": 409
                        },
                        "code": {
                          "type": "string",
                          "const": "WIDGET_QUOTA_EXCEEDED"
                        }
                      },
                      "required": [
                        "type",
                        "title",
                        "status",
                        "code"
                      ],
                      "additionalProperties": false
                    }
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/v1/widgets/{widgetId}": {
      "get": {
        "operationId": "getWidget",
        "summary": "Get a widget",
        "description": "Returns one widget.",
        "parameters": [
          {
            "name": "widgetId",
            "in": "path",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/WidgetIdSchema"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The widget.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Photon20260701_Widget"
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "Photon20260701_Widget": {
        "type": "object",
        "properties": {
          "id": {
            "$ref": "#/components/schemas/WidgetIdSchema"
          },
          "status": {
            "type": "string",
            "enum": [
              "active",
              "archived"
            ]
          },
          "owner": {
            "anyOf": [
              {
                "type": "object",
                "properties": {
                  "userId": {
                    "type": "string"
                  }
                },
                "required": [
                  "userId"
                ]
              },
              {
                "type": "null"
              }
            ]
          },
          "parts": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Shared_0ab1d08dd35d1f91"
            }
          }
        },
        "required": [
          "id",
          "status",
          "owner",
          "parts"
        ],
        "additionalProperties": false
      },
      "Shared_0ab1d08dd35d1f91": {
        "type": "object",
        "properties": {
          "sku": {
            "type": "string"
          }
        },
        "required": [
          "sku"
        ]
      },
      "WidgetIdSchema": {
        "type": "string"
      },
      "__schema0": {
        "anyOf": [
          {
            "type": "string"
          },
          {
            "type": "number"
          },
          {
            "type": "boolean"
          },
          {
            "type": "null"
          },
          {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/__schema0"
            }
          },
          {
            "type": "object",
            "additionalProperties": {
              "$ref": "#/components/schemas/__schema0"
            }
          }
        ]
      },
      "PhotonProblem_NOT_AUTHENTICATED_401": {
        "type": "object",
        "properties": {
          "type": {
            "type": "string"
          },
          "title": {
            "type": "string"
          },
          "status": {
            "type": "integer",
            "const": 401
          },
          "code": {
            "type": "string",
            "const": "NOT_AUTHENTICATED"
          }
        },
        "required": [
          "type",
          "title",
          "status",
          "code"
        ],
        "additionalProperties": false
      },
      "input__Unused": {
        "type": "object",
        "properties": {
          "a": {
            "type": "string"
          }
        }
      }
    },
    "securitySchemes": {
      "projectApiKey": {
        "type": "http",
        "scheme": "bearer",
        "description": "Project API key."
      },
      "oauth2": {
        "type": "oauth2",
        "description": "OAuth grant.",
        "flows": {
          "authorizationCode": {
            "authorizationUrl": "https://auth.photon.codes/oauth2/authorize",
            "tokenUrl": "https://auth.photon.codes/oauth2/token",
            "scopes": {
              "widgets:read": "Read widgets."
            }
          }
        }
      }
    }
  }
}
